* {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: cadetblue;
}

h1 {
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;

}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.choice {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.choice:hover {
    cursor: pointer;
    /* background: #000000; */
    background: #ffee10;
    transition: .5s;
    transform: scale(1.1);
    box-shadow: 0 0 15px #ffee06;

}

/* 
.choice1{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    
}
.choice1:hover{
    opacity: 0.5;
    cursor: pointer;
} */
/* .choice1 img{
    height: 170px;
    width: 170px;
    object-fit: cover;
    border-radius: 50%;
} */
img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;

}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user_score,
#computer_score {
    font-size: 4rem;
}

.msg-containger {
    margin-top: 1.5rem;
}

#msg {
    margin-top: 5rem;
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    display: inline-block;
    padding: 1rem;
    border-radius: 1rem;

}